body {
    color: black;
    background-color: #ffffff;
    font-family: Sans-Serif;
    margin: 0em;
}
.promo {
    text-align: center;
    color: gray;
    font-size: 14px;
}
a {
    color: teal;
    text-decoration: none;
    padding: 5px;
}
.inputDiv {
    margin: .6em 0em;
}
input[type="radio"] {
    margin: 0em .75em;
}
.lowerWrapper {
    margin: 0em .5em;
}